body {
    background-color: #FFFFF3;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4rem;
    height: 100%;
    margin: 0;
    padding-top: 75px;
}

/* HEADER */
header { 
    position: fixed; 
    width: 100%;
    z-index: 1;
    top: 0;
}

header .brand {
    color: #000;
    text-decoration: none;
}

header nav > ul  {
    padding: 0; 
    margin: 0;
    list-style-type: none;
    float: right;
}

header nav > ul > li { 
    float: left;
}

header nav > ul > li > a { 
    display: block;
    color: #000;
    text-decoration: none;
    padding: 0px 10px;
    line-height: 2rem;
}
header nav > ul > li > a:hover { 
    color:#F5EB27;
}

/*BODY*/
img.afbeelding {
    border: 10px double #000;
    width: 180px;
    margin-left: 75px;
    margin-bottom: 30px;

}

.col-4 > about {
    padding-left: 65px;

}
.tekst {
    padding-left: 110px;
}

.tekst1 {
    padding-left: 103px;
}

.tekst2 {
    padding-left: 93px;
}

.align {
    text-align: left;
}
.titel {
    font-size: 23px;
    padding-left: 80px;
    margin-right: 60px;
    padding-right: 115px;
}

/*FOOTER______________________*/

.footer-wrapper {
    color: #000;
    font-size: 10px;
}
.footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer a {
    text-decoration: none;
    color: #000;
}

.footer a:hover {
    color: #F5EB27;
}

.grid__bp0-column-8 {
    margin-left: 350px;
}

.nav-item--active > a {
    color: #F5EB27;
}
img.media1 {
    float: right;
    width: 10px;
    margin-right: 305px;
}

img.media2 {
    float: right;
    width: 10px;
}